// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



@import "~vuetify/dist/vuetify.min.css";


.tamano{
    width: 500px;
}

.letra{
    font-size:200px;
}
.img{
    width: 450px;
}
@media(max-width:566px){
    .img{
        width: 250;
    }
}

@media (max-width: 800px) {
 .tamano{
     width: auto;
 }
}

@media (max-width: 900px){
    .letra{
        font-size:auto;
    }
}